<h1> <%= @cocktail.name %> </h1>
<% @cocktail.doses.each do |dose| %>
<h2> <%= dose.ingredient.name %>: <%= dose.description %> | <%= link_to('delete dose', cocktail_dose_path(@cocktail, dose), method: :delete) %></h2>
<% end %>
<h3><%= link_to('add new dose', new_cocktail_dose_path(@cocktail)) %></h3>